*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.Top
{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:45dvh;
    width:100dvw;
    background-color: rgb(88, 128, 163);
    padding: 10px;
    column-gap: 10px;
    #Home
    {
        display: block;
        position:absolute;
        border-radius: 15%;
        margin: -335px 0 0 -10px;
        width: 75px;
        height: 50px;
        background-color: white;
        z-index: 1;
    }
    #history
    {
        margin-left: 5%;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        row-gap: 5px;
        #experience
        {
            width: 400px;
            height: 200px;
            padding: 30px;
            display: grid;
            border: 5px solid black;
            font-size: 12pt;
            span
            {
                text-decoration: underline solid black; 
                font-size: 20pt;
            }
        }
        #education
        {
            width: 400px;
            height: 200px;
            padding: 30px;
            display: grid;
            border: 5px solid black;
            font-size: 15pt;
            span
            {
                text-decoration: underline solid black; 
                font-size: 20pt;
            }
        }
    }
    img
    {
        scale: 100%;
        border-radius: 30%;
    }
    #status
    {
        width: 30%;
        margin-right:100px;
        justify-content: center;
        p
        {
            display: grid;
            width: 100%;
            row-gap: 5px;
            justify-content: center;
            font-size: 20pt;
        }
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
}

.Middle
{
    top:45dvh;
    background-color: #3b3a3a;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20pt;   
    color:white;
    height:5dvh;
    width:100dvw;
    #Aboutme
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
    #Social
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
    #Projects
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
}

.Bottom{
    display: grid;
    justify-content: center;
    background-color: rgb(88, 128, 163);
    height:100dvh;
    width:100dvw;
    p {
        height:20%;
        Width:40%;  
        justify-self: center;
        align-self: Top;
        margin-top: 10%;
        font-size: 20pt;
        
    }
    z-index: 1;
}

aside{
    position: absolute;
    z-index: 2;
    #modalAboutMe
    {   
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
    #modalSocial
    {
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
    #modalProjects
    {
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
}
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
@media screen and (max-width: 1300px)
{
    .Top
    {  
        #history
        {
            display: none;
        }
    }
    img
    {
        margin-left:15%;
        scale: 160%;
        border-radius: 30%;
    }
}
@media screen and (max-width: 900px)
{
    .Top
    {
        width:900px;
    }
    .Middle
    {
        width:900px;
    }
    .Bottom{
        width:900px;
    }
    
}
@media screen and (max-width: 650px)
{
    .Bottom{
            overflow-y:scroll;
            ::-webkit-scrollbar{
                width:2em;
            }
            ::-webkit-scrollbar-track{
                background-color: aliceblue;
            }
            ::-webkit-scrollbar-thumb{
                background-color: black;
            }
        }
}
@media screen and (max-height: 900px)
{
    .Top{
            justify-content: center;
            #history
            {
                display: none;
            }
            img
            {
                scale:60%;
            }
            #status{
                button{
                    font-size: 60%;    
                }

            }
        }
}
@media screen and (max-height: 600px)
{
    body
    {
        overflow-y:scroll;
        ::-webkit-scrollbar{
            width:2em;
        }
        ::-webkit-scrollbar-track{
            background-color: aliceblue;
        }
        ::-webkit-scrollbar-thumb{
            background-color: black;
        }
    }
    .Top
    {
        height:271px;
        #status
        {
            p
            {
            font-size: 90%;                
            }
            button
            {
                height:20px;
            }
        }
    }
    .Middle
    {
        height:30px;
    }
    .Bottom{
        height:600px;
    }
    aside{
        position: absolute;
        z-index: 2;
        #modalAboutMe
        {   
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
        #modalSocial
        {
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
        #modalProjects
        {
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
    }
}