*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
    #Home
    {
        display: block;
        position:absolute;
        border-radius: 15%;
        width: 75px;
        height: 50px;
        background-color: white;
        z-index: 1;
    }
.Top
{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:45dvh;
    width:100dvw;
    background-color: rgb(88, 128, 163);
    padding: 10px;
    column-gap: 10px;

    #history
    {
        margin-left: 5%;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        row-gap: 5px;
        #experience
        {
            width: 400px;
            height: 200px;
            padding: 30px;
            display: grid;
            border: 5px solid black;
            font-size: 12pt;
            span
            {
                text-decoration: underline solid black; 
                font-size: 20pt;
            }
        }
        #education
        {
            width: 400px;
            height: 200px;
            padding: 30px;
            display: grid;
            border: 5px solid black;
            font-size: 15pt;
            span
            {
                text-decoration: underline solid black; 
                font-size: 20pt;
            }
        }
    }
    img
    {
        scale: 100%;
        border-radius: 30%;
    }
    #status
    {
        width: 30%;
        margin-right:100px;
        justify-content: center;
        p
        {
            display: grid;
            width: 100%;
            row-gap: 5px;
            justify-content: center;
            font-size: 20pt;
        }
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
}

.Middle
{
    top:45dvh;
    background-color: #3b3a3a;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20pt;   
    color:white;
    height:5dvh;
    width:100dvw;
    #Aboutme
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
    #Social
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
    #Projects
    {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height:100%;
        width:33.3%
    }
}

.Bottom{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    background-color: rgb(88, 128, 163);
    height:100dvh;
    width:100dvw;
    #homeInfo{     
        height: 500px;
        Width:80%;  
        justify-self: center;
        align-self: Top;
        margin-top: 15%;
        font-size: 20pt;
        background-color: #7aa1b1;
        padding: 5%;
        border-radius: 10%;
        color: white;
        background-image: url("/Project1/images/winter.JPG");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #hobbie{
        height: 500px;
        Width:80%;  
        justify-self: center;
        align-self: Top;
        margin-top: 15%;
        font-size: 20pt;
        background-color: #7aa1b1;
        padding: 5%;
        border-radius: 10%;
        color: black;
        background-image: url("https://th.bing.com/th/id/R.f95f28e048a4be82c32c2a23b2a2d761?rik=m4aPJ5EKHuRgtA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-zStAk-YmtRY%2fTxCfFlXSdiI%2fAAAAAAAAM20%2fGl67IBLTUm8%2fs1600%2femerging%2bautumn%2bcolors%2bpse.jpg&ehk=%2bXsAh%2f9P6eR1QNMmwZh%2b3ufqOfL9o8MPbtJ3sgKHd28%3d&risl=&pid=ImgRaw&r=0");
    }
}

aside{
    position: absolute;
    z-index: 2;
    #modalAboutMe
    {   
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
    #modalSocial
    {
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
    #modalProjects
    {
        display: flex;
        flex-flow: column;
        width: 33.3dvw;
        button{
            height: 3dvh;
            font-size: 100%;
        }
    }
}
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
/*________________________________________________________MEDIA____________________________________________________________*/
@media screen and (max-width: 1300px)
{
    .Top
    {  
        #history
        {
            display: none;
        }
    }
    img
    {
        margin-left:15%;
        scale: 160%;
        border-radius: 30%;
    }
}
@media screen and (max-width: 900px)
{
    .Top
    {
        width:900px;
    }
    .Middle
    {
        width:900px;
    }
    .Bottom{
        width:900px;
    }
    
}
@media screen and (max-height: 900px)
{
    .Top{
            justify-content: center;
            #history
            {
                display: none;
            }
            img
            {
                scale:60%;
            }
            #status
            {
                button
                {
                    font-size: 60%;    
                }
            }
        }
}
@media screen and (max-height: 600px)
{
    body
    {
        overflow-y:scroll;
    }
    .Top
    {
        height:271px;
        #status{
            p
            {
                font-size: 15pt;
            }
            button{
                height:20px;
            }
        }
    }
    .Middle
    {
        height:30px;
    }
    .Bottom{
        height:600px;
    }
    aside{
        position: absolute;
        z-index: 2;
        #modalAboutMe
        {   
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
        #modalSocial
        {
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
        #modalProjects
        {
            display: flex;
            flex-flow: column;
            width: 33.3dvw;
            button{
                height: 30px;
                font-size: 100%;
            }
        }
    }
}